* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: rgb(24, 24, 24);
    }
    .header {
    background-color: rgb(33, 33, 33);
    padding: 30px;
    text-align: center;
    font-size: 30px;
    border-style: outset;
    }
    .row {
        display: flex;
    }
    .column {
    padding: 10px;
    min-height: 440px;
    border-style: inset;
    }

    .column.side {
        flex: 9;
    }
    .column.middle {
        flex:6;
    }
    .footer {
    background-color: rgb(33, 33, 33);
    padding: 10px;
    text-align: left;
    min-height: 120px;
    border-style: outset;
    text-align: center;
    }
    .img-katt {
        width: 460px;
        background-image: url(Felicette.jpg);
        background-size: 100%;
    }