* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .header {
    background-color: rgb(33, 33, 33);
    padding: 30px;
    text-align: center;
    font-size: 30px;
    }
    .row {
        display: flex;
    }
    .column {
    padding: 10px;
    min-height: 440px;
    border-style: inset;
    }

    .column.side {
        flex: 3;
    }
    .column.middle {
        flex:6;
        
    }
    .column.middle img{
        object-fit: cover;
    }

    .footer {
    background-color: rgb(33, 33, 33);
    padding: 10px;
    text-align: left;
    min-height: 190px;
    }